* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("images/bg.jpg");
    height: 800px;
    width: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; /* Changed for better responsiveness */
}

.main .box {
    position: absolute;
    top: 0;
    height: 800px;
    width: 100%;
    opacity: .44;
    background-color: black;
    color: white;
}

nav {
    display: flex;
    margin: auto;
    max-width: 60vw;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    color: white;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 23px;
}

.hero > :nth-child(2) {
    font-size: 30px;
    font-weight: 400;
}

.hero1 {
    width: 40%;
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
}

.herobutton input {
    background-color: black;
    width: 350px;
    height: 40px;
    font-size: 18px;
    border-radius: 7px;
    padding: 10px;
    border: 1px solid grey;
    color: white;
}

.herobutton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.herobutton button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: red;
    width: 200px;
    height: 60px;
    font-size: 20px;
    margin: 10px;
    border-radius: 7px;
}

.trending {
    position: relative;
    z-index: 10;
    color: white;
    width: 100%;
    height: 600px;
    margin-top: 0px;
    padding: 10px;
    font-size: 25px;
}

.childbutton {
    margin: 5px;
    display: flex;
    padding: 10px;
    gap: 15px;
}

.childbutton #abc,
.childbutton #abcd {
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
    border: none;
}

.childbutton #abc {
    width: 100px;
    height: 40px;
}

.childbutton #abcd {
    width: 120px;
    height: 40px;
}

.movieslist {
    display: flex;
    height: 350px;
    flex-wrap: wrap;
}

.movieslist ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 80px;
    position: relative;
    margin: 30px;
}

.movieslist p {
    font-size: 100px;
    color: white;
    position: absolute;
    bottom: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Added text-shadow with appropriate values */
}

.inner_li {
    position: relative;
    height: 300px;
}

.inner_li p {
    position: absolute;
    bottom: 0;
    left: 0;
}
